/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body{
    font-family: 'Poppins', sans-serif;
}

#modal {
    border-radius: 10px;
    display: none;
    width: 100%;
    text-align: center;
}

iframe {
    max-width: 100%;
}

.container{
    max-width: 1170px;
    width: 100%;

    margin: 0 auto;
    padding: 0px 15px;
}

.block-before:before {
    content: "0";
    font-size: 274px;
    color: rgba(224, 224, 224, 0.4);

    position: absolute;
    top: -160px;
    left: 0;
    right: 0;
    margin: 0 auto;

    z-index: -1;
}

.block-title{
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 50px;
    line-height: 1.6;
    font-weight: 700;
    color: #313131;
}

.block-subtitle {
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
    color: #616161;
}

.descr {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    color: #616161;
}



.border--red{
    border-bottom: 3px solid #fc5f45;
}

.border--green{
    border-bottom: 3px solid #38c695;
}

.border--purple{
    border-bottom: 3px solid #b27cf5;
}

.border--yellow{
    border-bottom: 3px solid #feb960;
}


.btn {
    display: inline-block;

    min-width: 180px;

    font-size: 16px;
    font-weight: 600;
    line-height: 3;
    text-align: center;

    background: transparent;
    
    border: 2px solid;
    border-radius: 25px;

    transition: all linear .3s;
}

.btn:hover{
    cursor: pointer;
}

.btn--red {
    color: #fc5f45;
 
    border-color: #fc5f45;

}

.btn--red:hover {
    background-color: #fc5f45;
    color: #ffffff;
}

.btn--green {
    color: #38c695;
 
    border-color: #38c695;
}

.btn--green:hover {
    background-color: #38c695;
    color: #ffffff;
}

.btn--purple {
    color: #b27cf5;
 
    border-color: #b27cf5;
}

.btn--purple:hover {
    background-color: #b27cf5;
    color: #ffffff;
}


.btn--yellow {
    color: #feb960;
 
    border-color: #feb960;
}

.btn--yellow:hover {
    background-color: #feb960;
    color: #ffffff;
}


/* Header */

.header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-bottom: 2px solid #fc5f45;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list li + li {
    margin: 10px;
}

.menu__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.93;
    color: #272727;

    transition: all .3s linear;
}

.menu__link:hover {
    color: #fc5f45;
}


/* Intro */

.intro {
    background: url(../img/intro/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 750px;

    padding: 175px 0;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 60px;
    line-height: 1.42;
    color: #ffffff;

    margin-bottom: 50px;
}

.intro__btn {
    margin-bottom: 80px;
}

.intro__items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.intro__item{
    font-size: 18px;
    font-weight: 500;
    line-height: 4.44;
    text-transform: uppercase;

    margin: 5px 5px 20px 5px;
}

.text--green{
    color: #38c695;
}

.text--purple{
    color: #b27cf5;
}

.text--yellow{
    color: #feb960;
}


/* About */

.about__inner {
    padding: 149px 0;
    display: flex;
    align-items: center;
}

.about__content {
    max-width: 652px;


    padding: 150px 83px 80px;

    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05); 

    position: relative;
}

.about__title {
    margin-bottom: 40px;
    /* position: relative; */
    
}

.about__content:before {
    content: "01";
    font-size: 274px;
    color: rgba(224, 224, 224, 0.3);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: -1;
}

.about__inner img {
    max-width: 100%;
    height: auto;
}

/* Focus */

.focus {
    background-color: #f7f7f7;
}

.focus__inner {
    padding-top: 100px;
    padding-bottom: 149px;
}

.focus__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 79px;

    text-align: center;
    position: relative;
    z-index: 1;
}

.focus__title{
    /* position: relative; */
    padding-top: 60px;
    
    
}

.focus__title::before{
    content: '02';
    
}

.focus__subtitle {
    
}

.focus__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.focus__item {
    text-align: center;
   
    padding: 61px 34px;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;

}



.focus__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 4;        
    color: #313131;
}

.focus__item-text {
    font-size: 15px;
    line-height: 1.67;
    color: #616161;
    width: 196px;
}


/* Video */

.video {
    background: url(../img/video/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.video__inner {
    text-align: center;
    padding: 130px 0;
}

.video__title {
    font-size: 30px;
    line-height: 2.67;
    color: #ffffff;

    margin-bottom: 33px;
}

.video__icon {
    margin-bottom: 41px;
}

.video__icon:hover {
    cursor: pointer;
}

.video__descr{
    font-size: 15px;
    line-height: 5.33;
    color: #ffffff;
}


/* Portfolio */

.portfolio__inner {
    padding: 100px 0 ;
}

.portfolio__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;

    text-align: center;

    position: relative;
    z-index: 1;
}

.portfolio__title{
    /* position: relative; */
    
    padding-top: 60px;
    margin-bottom: 17px;
    
}

.portfolio__title::before{
    content: '03';
    
}

.portfolio__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio__item{
    position: relative;

    /* flex-basis: 33.3333%;
    max-width: 100%; */
    height: 288px;

    margin-bottom: 23px;

    overflow: hidden;
}

.portfolio__item:hover .portfolio__content {
    opacity: 1;
}

.portfolio__img {
    /* position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0); */

    object-fit: cover;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    opacity: 0;

    transition: all linear .3s;
}

.portfolio__icon {
    position: absolute;

    left: 50%;
    top: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);

    transition: all linear .3s;
}

.portfolio__icon {
    cursor: pointer;
}

.portfolio__name {
    width: 100%;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 3.56;
    letter-spacing: 0.9px;
    color: #313131;

    background: #ffffff;

    border-top: 3px solid #38c695;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 2;

    transition: opacity linear .3s;
}


/* Team */

.team {
    background-color: #f7f7f7;
}

.team__inner {
    padding: 100px 0 75px 0;
}

.team__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 75px;

    text-align: center;

    position: relative;
    z-index: 1;

}

.team__title{
    /* position: relative; */
    
    padding-top: 60px;
    margin-bottom: 17px;
    
}

.team__title::before{
    content: '04';
}

.team__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-bottom: 50px;
}

.team__item{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;

    margin-bottom: 20px;
    max-width: 263px;
    height: 350px;

    text-align: center;
}

.team img {
    width: 100%;
    height: 270px;
}


.team__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 3;
    text-align: center;
}

.team__position {
    font-size: 15px;
    text-align: center;
    color: #616161;
    margin-bottom: -30px;
}

.team--red{
    color: #feb960;
}

.team--green{
    color: #38c695;
}

.team--purple{
    color: #b27cf5;
}

.team--yellow{
    color: #feb960;
}

.team__soc {
    display: flex;
    justify-content: center;

    padding: 15px 0;

    border-radius: 4px;

    position: relative;
    top: 120px;
    
    background: #ffffff;

    display: none;

    transition: all linear .3s;
}

.team__soc:after {
	border: 48px solid transparent;
	border-bottom-color: #ffffff;
	position: absolute;
	bottom: 100%;
	right: 42px;
	content: '';
}

.team__item:hover .team__soc {
    display: flex;
}

.team__soc .team__soc-link {
    margin-right: 5px;
}

.team__soc-link {
    display: block;
}

.team__soc-icon{
    display: inline-block;
    height: 30px;
    width: 30px;

   border-radius: 5px;

    fill: #ffffff;

    padding: 5px;

    transition: all linear .3s;
}

.team__soc-icon:hover  {
    fill: #616161;
}

.icon--red {
    background: #fc5f45;
}

.icon--green {
    background: #38c695;
}

.icon--purple {
    background: #b27cf5;
}

.icon--yellow {
    background: #feb960;
}

/* Stats */

.stats {
    background: url(../img/stats/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stats__items {
    padding: 147px 0px 126px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stats__item {
    text-align: center;
    margin-bottom: 30px;
}

.stats__img {
    margin-bottom: 20px;
}

.stats__sum {
    font-size: 20px;
    font-weight: 500;
    color: #fefefe;

    margin-bottom: 23px;
}

.stats__name {
    font-size: 15px;
    line-height: 2;
    color: rgba(254, 254, 254, 0.7);

    margin-bottom: 20px;
}

/* Steps */
.steps__inner {
    padding-top: 100px;
    padding-bottom: 149px;
}

.steps__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 77px;

    text-align: center;
    position: relative;
    z-index: 1;

}

.steps__title{
    /* position: relative; */
    padding-top: 60px;
    
}

.steps__title::before{
    content: '05';
}

.steps__subtitle {
}

.steps__item{
    position: relative;

    display: flex;
    justify-content: center;
}

.steps__content {
    width: 33%;
    height: auto;

    padding: 42px 60px 57px 124px;

    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); 
}

.content--left{
    right: 350px;
}

.content--right{
    left: 350px;
}

.steps__number {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: rgba(137, 137, 137, .2);
    
    position: absolute;
    top: 41px;
    left: 38px;
    z-index: -1;
}

.steps__number::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: transparent transparent transparent rgba(137, 137, 137, .2);
    border-style: solid;
    border-width: 2px;
    transform: skewX(-45deg);

    top: 13px;
    left: 50px;
}

.steps__content-title{
    font-size: 25px;
    color: #272727;

    margin-bottom: 24px;
}

.steps__content-text {
    font-size: 15px;
    line-height: 1.8;
    color: #616161;
}

.steps__items img{
    max-width: 556px;
    width: 100%;
    height: auto;
}



/* Pricing */

.pricing {
    background-color: #f7f7f7;
}

.pricing__inner {
    padding-top: 100px;
    padding-bottom: 149px;
}

.pricing__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 77px;

    text-align: center;

    position: relative;
    z-index: 1;

}

.pricing__title{
    /* position: relative; */
    padding-top: 60px;
    
}

.pricing__title::before{
    content: '06';
    
}

.pricing__items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.pricing__item {
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;

    border-top: 3px solid;

    padding: 0px 80px 37px;
    margin-bottom: 20px;

    position: relative;
}

.pricing__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 4;
    color: #313131;
}

.pricing__pay {
    width: 100px;
    height: 100px;

    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 44px;

    
    border-radius: 50%;

    text-align: center;
    color: #ffffff;
    position: relative;
}

.pricing__pay--red{
    background: #fc5f45;
}

.pricing__pay--red::before{
    border: 3px solid #fc5f45;
}

.pricing__pay--green{
    background: #38c695;
}

.pricing__pay--green::before{
    border: 3px solid #38c695;
}

.pricing__pay--purple{
    background: #b27cf5;
}

.pricing__pay--purple::before {
    border: 3px solid #b27cf5;
}

.pricing__pay::before {
    content: "";

    height: 111px;
    width: 111px;
    position: absolute;
    left: -5px;
    top: -5px;

    
    border-radius: 50%;
}

.pricing__money{
    font-size: 28px;
    margin-bottom: 5px;
}

.pricing__money::before {
    content:'$';
}

.pricing__time {
    font-size: 15px;
}


.pricing__list {
    margin-bottom: 80px;
}

.pricing__list-item {
    font-size: 15px;
    line-height: 2.67;
    color: #616161;
    text-align: center;   
}

.pricing__high {
    font-weight: 700;
    margin-right: 5px;
}

.pricing__btn{
    width: 180px;
    height: 50px;

    margin: auto;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 37px;
}

.pricing--green {
    border-color: #38c695;
}

.pricing--red {
    border-color: #fc5f45;
}

.pricing--purple {
    border-color: #b27cf5;
}


/* Testimonials */
.testimonials {
    background: url(../img/testimonials/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testimonials__inner {
    padding-top: 100px;
    padding-bottom: 149px;
}

.testimonials__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 77px;
    text-align: center;
    position: relative;
    z-index: 1;

}

.testimonials__title{
    color: #ffffff;

    /* position: relative; */
    padding-top: 60px;
    
}

.testimonials__title::before{
    content: '07';
}

.testimonials__subtitle {
    color: #ffffff;
}


.testimonials__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}

.testimonials__item {
    display: flex;
    align-items: center;
    width: 100%;

    
    
}


.testimonials__item img {
    max-width: 384px;
}

.testimonials__text--red {
    border-bottom: 3px solid #fc5f45;
} 

.tesimonials__text--green {
    border-bottom: 3px solid #38c695;
}

.tesimonials__text--purple {
    border-bottom: 3px solid #b27cf5;
}

.tesimonials__text--yellow {
    border-bottom: 3px solid #feb960;
}

.testimonials__text {
    background: #ffff;
    max-width: 700px;

    padding: 41px 30px 30px 50px;
    position: relative;

    z-index: 1;
}

.testimonials__text::before{
    content: "“";
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 335.5px;
    font-weight: 700;
    color: rgba(224, 224, 224, 0.3);


    position: absolute;
    top: -5px;
    left: 0;
    z-index: -1;
}

.testimonials__text p {
    font-size: 15px;
    line-height: 1.8;   
    color: #616161;


    margin-bottom: 38px;
}

.testimonials__sign{
    font-family: "Sacramento", sans-serif;
    font-size: 40px;
    color: #272727;

    margin-bottom: 24px;
}

.testimonials__name {
    font-size: 18px;
    font-weight: 700;
    color: #272727;

    margin-bottom: 13px;
}

.testimonials__postition {
    font-size: 13px;
}

.tesimonials__postion--red {  
    color: #fc5f45;
}

.tesimonials__postion--green {
    color: #38c695;
}

.tesimonials__postion--purple {
    color: #b27cf5;
}

.tesimonials__postion--yellow {
    color: #feb960;
}


/* Select */
.select__inner {
    padding: 100px 0 0 0;
}

.select__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;

    text-align: center;
    position: relative;
    z-index: 1;
}

.select__title{    
    padding-top: 60px;
    margin-bottom: 17px;
    
    
}

.select__title::before{
    content: '08';
}


.select__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.select__item {
    width: 311px;
    margin-bottom: 70px;
}

.select__item-top{
    margin-bottom: 33px;
}

.select__name {
    display: inline-block;
    width: 142px;
    margin-left: 10px;

    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
    color: #272727;
}

.select__text {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #616161;
}

.select__call {
    padding: 163px 0;
    text-align: center;
}

.select__call-text {
    display: inline-block;

    font-family: "Poppins", sans-serif;
    font-size: 25px;
    line-height: 1.2;
    color: #272727;

    margin-right: 23px;
    margin-bottom: 20px;
}


/* Blog */
.blog{
    background: #f7f7f7;
}

.blog__inner {
    padding: 100px 0 150px 0;
}

.blog__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;

    text-align: center;
    position: relative;
    z-index: 1;
    
}

.blog__title{    
    padding-top: 60px;
    margin-bottom: 17px;

}

.blog__title::before{
    content: '09';
}

.blog__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    align-items: center;
}

.blog__last{
    max-width: 555px;
    margin-bottom: 20px;
}

.blog__post{
    max-width: 555px;
    margin-bottom: 20px;
}

.blog__last {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__last-top img{
    max-width: 100%;
}

.blog__last-top {
    position: relative;
    z-index: 1;
}

.blog__last-top .blog__post-author {
    position: absolute;
    left: 50px;
    bottom: 35px;

    margin: 0;
}

.blog__last-top .blog__post-date {
    position: absolute;
    left: 200px;
    bottom: 34px;
}

.blog__last-text {
    padding: 35px 20px 45px 20px;

    background: #fff;

    border-bottom: 3px solid #fc5f45;
}

.blog__last-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    color: #272727;

    margin-bottom: 34px;
}

.blog__post-text {
    padding: 23.5px 20px 24px 38px;

    background: #fff;
}

.blog__last-intro {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #616161;
}

.blog__last-intro span {
    font-weight: 500;
    color: #000;
}

.blog__post-title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    color: #272727;

    margin-bottom: 20px;
}


.blog__post-intro {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #616161;
}

.blog__post-intro span {
    font-weight: 700;
    color: #272727;
}

.blog__post--red .blog__post-author, .blog__post--red .blog__post-text span{
    color: #fc5f45;
}

.blog__post--red .blog__post-text{
    border-bottom: 3px solid #fc5f45;
}

.blog__post--green .blog__post-author, .blog__post--green .blog__post-text span{
    color: #38c695;
}

.blog__post--green .blog__post-text{
    border-bottom: 3px solid #38c695;
}

.blog__post--purple .blog__post-author, .blog__post--purple  .blog__post-text span{
    color: #b27cf5;
}

.blog__post--purple .blog__post-text{
    border-bottom: 3px solid #b27cf5;
}

.blog__post--yellow .blog__post-author, .blog__post--yellow .blog__post-text span{
    color: #feb960;
}

.blog__post--yellow .blog__post-text{
    border-bottom: 3px solid #feb960;
}

.blog__post-author {
    display: inline-block;

    margin-right: 25px;
    margin-bottom: 22px;

    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

.blog__post-date {
    display: inline-block;

    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

/* Subscribe */
.subscribe__inner {
    padding: 149px 0;
    text-align: center;
}

.subscribe__title {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 1.2;
    color: #272727;

    margin-bottom: 53px;
}

.subscribe__form {
    /* max-width: 480px; */
    width: 100%;
    margin: 0 auto;

    border-radius: 50px;
}

.subscribe__form form {
    text-align: center;
}

.subscribe__email {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 3.95;
    color: #616161;

    padding-left: 30px;
    padding-right: 30px;

    border: 2px solid #fc5f45;
    border-radius: 50px 0 0 50px;

    margin-right: -5px;
}

.subscribe__email:focus {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.subscribe__btn {
    padding: 19px 25px;

    min-width: 180px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fc5f45;


    
    background: transparent;
    border: 2px solid #fc5f45;
    border-left: none;
    border-radius: 0 50px 50px 0;
    

    transition: all linear .3s;
}

.subscribe__btn:hover{
    background: #fc5f45;
    color: #fff;

    cursor: pointer;
}


/* Footer */
.footer {
    background: url(../img/footer/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__inner {
    padding: 100px 0 126px 0;
}

.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 77px;

    text-align: center;
    position: relative;
    z-index: 1;
}

.footer__title{    
    padding-top: 60px;
    margin-bottom: 17px;   
}

.footer__title::before{
    content: '10';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.footer__form {
    width: 100%;
    text-align: center;
}

.footer__inputs {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.footer ::-webkit-input-placeholder {
    text-align:center;
}
    
.footer :-moz-placeholder {  /* Firefox 18-  */
   text-align:center;      
}

.footer ::-moz-placeholder { /* Firefox 19+  */
    text-align:center;  
}
    
.footer :-ms-input-placeholder {  
    text-align:center; 
}

.footer__field {
    font-size: 16px;
    line-height: 3;
    color: #616161;

    width: 400px;

    padding: 0px 20px;
    margin-bottom: 25px;

    border: solid 1px #efefef;
    border-radius: 4px;
}

.footer__field:focus, .footer__textarea:focus  {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.footer__textarea{
    display: block;
    max-width: 915px;
    width: 100%;
    height: 200px;

    font-size: 16px;;
    line-height: 1.2;
    color: #616161;

    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px 10px;

    border: solid 1px #efefef;
    border-radius: 4px;

    resize: none;
}

.footer__btn{
    margin-bottom: 150px;
}

.footer__info {
    background: #3F4049;

    padding: 64px 61px 45px 61px;

    display: flex;

    justify-content: space-around;
    
    flex-wrap: wrap;
    text-align: center;

}

.footer__logo {
    height: 98px;
    margin-bottom: 20px;
    padding: 35px;
}

.footer__address{
    height: 98px;
    margin-bottom: 20px;
}

.footer__address-title{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #b27cf5;

    margin-bottom: 20px;
}

.footer__address-title-uk{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #38c695;

    margin-bottom: 20px;
}

.footer__address address{
    width: 201px;

    font-family: "Poppins", sans-serif;
    color: #f7f7f7;
    font-style: normal;
    font-weight: 400;

    line-height: 1.5;

    padding: 0;
    margin: 0;;
}

.footer__follow{
    height: 98px;
}

.footer__follow-title {
    margin-bottom: 20px;

    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #feb960;
}

.footer__follow-item {
    height: 35px;
    width: 35px;

    fill: #F0E9E8;

    border: 3px solid #F0E9E8;
    border-radius: 4px;

    padding: 3px;
}

.footer__follow-item:hover{
    fill: #feb960;

    border-color: #feb960;
}


/* Slider */
.slick-dots{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: -35px;

    right: 40px;
    z-index: 2;

    display: flex;
    justify-content: center;
}

.slick-dots button {
    background: transparent;
    width: 8px;
    height: 8px;

    background: none;
    /* border: 2px solid #ffffff; */
    border-radius: 50%;
    bottom: 0;
    padding: 0px;


    margin: 0 10px;

    font-size: 0;
    color: transparent;

    position: relative;
}

.slick-dots button::before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    left: -7px;
    top: -7px;
    border:#fff 3px solid;
    border-radius: 50px;
    z-index: 2;
  }

.slick-active button{
    background: #fc5f45;
}




/* Media */

.burger {
    display: none;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;


    font-size: 0;
    color: transparent;

    background: #616161;
    border-radius: 50px;
}

.burger__item:before{
    content: "";
    display: block;
    width: 30px;
    height: 3px;

    background: #616161;
    border-radius: 50px;

    position: relative;
    top: -8px;
    left: 0;
}

.burger__item:after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;

    background: #616161;
    border-radius: 50px;

    position: relative;
    left: 0;
    bottom: -5px;
}



@media (min-width: 992px){
    .about__content {
        position: relative;
        right: -70px;

        z-index: 1;
    }

    .steps__img {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
    
        transform: translate3d(-50%, -50%, 0);
    }

    .steps__content {
        position: relative;

        top: -50px;
        right: 350px;
        z-index: 1;
    }
}

@media (max-width: 991px) {
    .menu {
        display: none;
        width: 230px;
        
        position: absolute;
        right: 0;
        top: 100%;
        
        text-align: right;
        
    }

    .menu.show {
        display: block;
    }

    .menu__list {
        flex-direction: column;
        text-align: right;
        
        padding: 15px 0;
        
        background: #fff;

        border-radius: 20px;
    }


    .menu__link{
        padding: 7px 15px;
        

        border-bottom: 2px solid #fc5f45;
    }

    .burger {
        display: block;
    }


    .about__inner {
        display: flex;
        flex-direction: column;
    }

    .about__content {
        z-index: 1;
        padding-left: 35px;
        padding-right: 35px;
    }

    .steps__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        margin-bottom: 40px;
    }

    .steps__content{
        z-index: 1;
        width: 100%;

        padding: 30px;
    }
}

@media(max-width: 767px) {
    .intro__title{
        font-size: 50px;
    }


    .testimonials__item{
        flex-wrap: wrap;
    }

    
    .subscribe ::-webkit-input-placeholder {
        text-align:center;
    }
        
   .subscribe :-moz-placeholder {   /*  Firefox 18-  */
       text-align:center;      
    }
    
.subscribe ::-moz-placeholder {    /*   Firefox 19+  */
        text-align:center;  
    }
        
    .subscribe :-ms-input-placeholder {  
        text-align:center; 
    }
    

    .subscribe__email{
        margin-bottom: 20px;

        border-radius: 50px;

        width: 300px;
    }

    .subscribe__btn{
        border-left: 2px solid #fc5f45;

        border-radius: 50px;
    }
}

@media(max-width: 480px) {
    .intro__title{
        font-size: 40px;
    }


    .block-before:before {
        font-size: 200px;
    }
    
    .block-title{
        font-size: 40px;
    }
    
}


